.about .page-header,
.about .divider-img-1 {
  color: white;
  text-align: center;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}

.page-header img,
.divider-img-1 img {
  width: max(1920px, 100vw);
  position: absolute;
  transform: translate(-50%, -40%);
  -webkit-transform: translateX(-50%, -40%);
  z-index: -10;
}

.divider-img-1 img {
  transform: translate(-50%, -30%);
  -webkit-transform: translateX(-50%, -30%);
}

.about section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .section-1 .img-container,
.about .section-2 .img-container {
  display: flex;
  align-items: center;
}

.about .section-1 .img-container :first-child,
.about .section-2 .img-container :first-child {
  width: 370px;
  height: 530px;
}

.about .section-1 .img-container :last-child,
.about .section-2 .img-container :last-child {
  margin-left: -80px;
  width: 330px;
  height: 330px;
}

.about .section-1 .text-container,
.about .section-2 .text-container {
  max-width: 400px;
}
